<!DOCTYPE html>
<html>
  <head>
    <title>Choose Room</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'reserveHotel/css/style.css' %}" rel="stylesheet" media="all" />
  </head>
  <body>
    <div class="container">
      {% if error_message %}
      <p class="text-error"><strong>{{ error_message }}</strong></p>
      {% endif %}
      <h2>Choose Room</h2>
      <table class="table">
	<caption>Summary</caption>
	<tr><td>Hotel name:</td><td>{{hotel_name}}</td></tr>
	<tr><td>City:</td><td>{{city_name}}</td></tr>
      </table>

      <form class="" action="{% url 'rh:roomConfirm' %}"
	    method="post">
	{% csrf_token %}
	<table class="table" id="roomtb">
	  <tr><td>Rooms:</td>
	    <td>
	      <select id="rooms" name="count" onchange="show_rooms()">
		{% for i in '012345'|make_list %}
		<option value="{{i}}">{{i}}</option>
		{% endfor %}
	      </select>
	  </td></tr>
	</table>
      </form>
    </div>
  </body>
  <script src="{% static 'jquery-1.10.0.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'reserveHotel/js/script.js' %}"></script>
</html>
