<!DOCTYPE html>
<html>
  <head>
    <title>Payment</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'reserveHotel/css/style.css' %}" rel="stylesheet" media="all" />
  </head>
  <body>
    <div class="container">
      {% if error_message %}
      <p class="text-error"><strong>{{ error_message }}</strong></p>
      {% endif %}
      <h2>Payment</h2>
      <table class="table">
	<caption>Summary</caption>
	<tr><td>Items</td><td>Total</td></tr>
	<tr><td>{{hotel_name}}</td><td>{{total}}</td></tr>
	<tr><td><td><a href="{% url 'rh:over' %}">Pay!</a></td></tr>
      </table>
    </div>
  </body>
  <script src="{% static 'jquery-1.10.0.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>
