<!DOCTYPE html>
<html>
  <head>
    <title>Choose Hotel</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'reserveHotel/css/style.css' %}" rel="stylesheet" media="all" />
  </head>
  <body>
    <div class="container">
      {% if error_message %}
      <p class="text-error"><strong>{{ error_message }}</strong></p>
      {% endif %}
      <h2>Choose Hotel</h2>
      <table class="table">
	<caption>Summary</caption>
	<tr><td><b>City:</b></td><td>{{city_name}}</td></tr>
	<tr><td><b>Check in:</b></td><td>{{checkin_date}}</td></tr>
	<tr><td><b>Check out:</b></td><td>{{checkout_date}}</td></tr>
      </table>
      <button class="btn btn-inverse" type="button"
	      onclick="javascript:history.back();">
	Search again
      </button>
      <table class="table table-bordered">
      <caption>Search Results</caption>	
      <thead><td><b>Name</b></td><td></td></thead>
	<tbody>
	  {% for hotel in availableHotels %}
	  <form action="{% url 'rh:chooseRoom' %}" method="post">
	    {% csrf_token %}	    
	    <input type="hidden" name="hotel_name" value="{{hotel.hName}}" />
	  <tr><td>{{hotel.hName}}</td>
	    <td><input type="submit" class="btn btn-middle"
		       value="Continue" /></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </body>
  <script src="{% static 'jquery-1.10.0.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>
